.btn-whatsapp {
    display: block;
    width: 80px;
    height: 80px;
    color: #fff;
    position: fixed;
    right: 25px;
    bottom: 15px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    z-index: 999;
}

.header{
    text-align: center;
}

.three-columns {
    margin: 50px;
    width: 32%;
    display: inline-block;
    }

.alquiler{
    text-align:center;
}

.card-img-top{
    max-width: 500px;
    max-height: 250px;
    object-fit: contain;
}

.imagencar{
    height: 500px;
    width: 500px;
    object-fit:contain;
}

.card-notice{
    margin: 20px;
    object-fit:contain;
}

.publicaciones{
    margin: 20px;
    text-decoration: underline;
}

.publicacion-alquiler{
    margin: 20px;
}

.card-almagro{
    padding-inline-start: 5%;
}

.formulario{
    margin: 15px;
    padding: 15px;
}

